textarea {
  margin-top: 100px;
  border: none;
  overflow: auto;
  outline: none;
  background-color: coral;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  resize: none; /*remove the resize handle on the bottom right*/
}
